@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);

    /* For name stats */
    --font-size: 18px;

}

/* CSS resets start */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-align: center;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* CSS resets Ends */

body {
    font-family: 'Kumbh Sans';
    background-color: var(--dark-cyan);
    color: var(--dark-gray);
    background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
    background-repeat: no-repeat;    
}

main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: #fff;
}

.card-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-img {
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 0 auto;
    position: relative;
    top: -50px;
}

.name-age-container {
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.name {
    margin-right: 10px;
}

.age {
    font-size: 18px;
    color: var(--dark-grayish-blue);
}

.location {
    font-size: 14px;
    margin-top: 3px;
}

.name-stats {
    font-size: var(--font-size);
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

.user-stats {
    margin-top: 20px;
    border-top: 0.5px solid hsla(0, 0%, 85%, 1);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 12px;
}

footer {
    background-color: #fff;
}
